main{
  padding-top: 120px;
  width: 80%;
  margin: 0 auto;
  display: block;
  align-items: center;
}
section h2{
  font-size: 2.5vw;
  font-family: 'Madimi One', cursive;
  color: #191970;
  text-align: center;
  padding-top: 20px;
}
img{
  width: 30%;
  height: auto;
  padding-top: 10px;
  margin: auto;
}